<div class="row g-3" style="margin:1%; margin-top:13vh;">
  <% @posts.each do |post| %>
    <div class="col-lg-4 col-md-6 col-sm-12" >
      <div class="card" style="height:15vh; overflow:hidden; text-overflow: ellipsis;">
        <h5 class="card-title p-2" style = "font-size: 17px; margin:5px;"> <%= link_to post.title, post_path(post), style: "text-decoration:none"%> </h5>
        <p class="card-text" style="font-size: 14px; margin-left:10px; margin-right:10px; margin-bottom:5px; overflow: hidden; text-overflow: ellipsis;
white-space: nowrap;" >
          <%= post.body%>
        </p>
      </div>
    </div>
  <% end %>
</div>
